In [14]:
import pandas as pd
from sqlalchemy import create_engine



DATABASE_URL = "postgresql://postgres:123456@localhost:5432/online_retail"
engine = create_engine(DATABASE_URL)

# FunÃ§Ã£o para carregar os dados com cache

def load_data():
    query = "SELECT * FROM view_fonline_stremlit"
    return pd.read_sql(query, engine)

# Carregar os dados
df = load_data()

df

,id,fatura,codigo_estoque,produtos,quantidade,data_hora_fatura,data_fatura,valor_unitario,valor_receita,id_cliente,pais,tipo_receita
0,86816,543600,21533,RETROSPOT LARGE MILK JUG,1,2011-02-10 13:19:00,2011-02-10,4.95,4.95,181680,United Kingdom,Receita
1,86817,543600,22073,RED RETROSPOT STORAGE JAR,2,2011-02-10 13:19:00,2011-02-10,3.75,7.50,181680,United Kingdom,Receita
2,86818,543600,21537,RED RETROSPOT PUDDING BOWL,1,2011-02-10 13:19:00,2011-02-10,4.25,4.25,181680,United Kingdom,Receita
3,86819,543600,21539,RED RETROSPOT BUTTER DISH,2,2011-02-10 13:19:00,2011-02-10,4.95,9.90,181680,United Kingdom,Receita
4,86820,543600,22072,RED RETROSPOT TEA CUP AND SAUCER,2,2011-02-10 13:19:00,2011-02-10,3.75,7.50,181680,United Kingdom,Receita
...,...,...,...,...,...,...,...,...,...,...,...,...
406824,86811,543598,21464,DISCO BALL ROTATOR BATTERY OPERATED,6,2011-02-10 13:06:00,2011-02-10,4.25,25.50,182300,United Kingdom,Receita
406825,86812,543599,84535B,FAIRY CAKES NOTEBOOK A6 SIZE,16,2011-02-10 13:08:00,2011-02-10,0.00,0.00,175600,United Kingdom,Receita
406826,86813,543600,21531,RED RETROSPOT SUGAR JAM BOWL,1,2011-02-10 13:19:00,2011-02-10,2.55,2.55,181680,United Kingdom,Receita
406827,86814,543600,21527,RED RETROSPOT TRADITIONAL TEAPOT,1,2011-02-10 13:19:00,2011-02-10,7.95,7.95,181680,United Kingdom,Receita
406828,86815,543600,22072,RED RETROSPOT TEA CUP AND SAUCER,1,2011-02-10 13:19:00,2011-02-10,3.75,3.75,181680,United Kingdom,Receita

In [8]:
df.columns

Index(['id', 'fatura', 'codigo_estoque', 'produtos', 'quantidade',
       'data_hora_fatura', 'data_fatura', 'valor_unitario', 'valor_fatura',
       'id_cliente', 'pais', 'tipo_receita'],
      dtype='object')

In [ ]:
df = pd.DataFrame(df)
df.groupby('pais')['valor_receita'].sum().sort_values(ascending= False)

pais
United Kingdom          6767873.394
Netherlands              284661.540
EIRE                     250285.220
Germany                  221698.210
France                   196712.840
Australia                137077.270
Switzerland               55739.400
Spain                     54774.580
Belgium                   40910.960
Sweden                    36595.910
Japan                     35340.620
Norway                    35163.460
Portugal                  29059.810
Finland                   22326.740
Channel Islands           20086.290
Denmark                   18768.140
Italy                     16890.510
Cyprus                    12946.290
Austria                   10154.320
Singapore                  9120.390
Poland                     7213.140
Israel                     6994.250
Greece                     4710.520
Iceland                    4310.000
Canada                     3666.380
Unspecified                2667.070
Malta                      2505.470
United Arab Emirates       1902.280
USA                        1730.920
Lebanon                    1693.880
Lithuania                  1661.060
European Community         1291.750
Brazil                     1143.600
RSA                        1002.310
Czech Republic              707.720
Bahrain                     548.400
Saudi Arabia                131.170
Name: valor_receita, dtype: float64

In [19]:
pip install mplcursors

Collecting mplcursors
  Downloading mplcursors-0.6-py3-none-any.whl.metadata (3.0 kB)
Requirement already satisfied: matplotlib!=3.7.1,>=3.1 in c:\users\hp victus\anaconda3\lib\site-packages (from mplcursors) (3.9.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp victus\anaconda3\lib\site-packages (from matplotlib!=3.7.1,>=3.1->mplcursors) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\hp victus\anaconda3\lib\site-packages (from matplotlib!=3.7.1,>=3.1->mplcursors) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp victus\anaconda3\lib\site-packages (from matplotlib!=3.7.1,>=3.1->mplcursors) (4.25.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\hp victus\anaconda3\lib\site-packages (from matplotlib!=3.7.1,>=3.1->mplcursors) (1.4.4)
Requirement already satisfied: numpy>=1.23 in c:\users\hp victus\anaconda3\lib\site-packages (from matplotlib!=3.7.1,>=3.1->mplcursors) (1.26.4)
Requirement already satisfied: packaging>=20.0 in c:\users\hp victus\anaconda3\lib\site-packages (from matplotlib!=3.7.1,>=3.1->mplcursors) (23.1)
Requirement already satisfied: pillow>=8 in c:\users\hp victus\anaconda3\lib\site-packages (from matplotlib!=3.7.1,>=3.1->mplcursors) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hp victus\anaconda3\lib\site-packages (from matplotlib!=3.7.1,>=3.1->mplcursors) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp victus\anaconda3\lib\site-packages (from matplotlib!=3.7.1,>=3.1->mplcursors) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\hp victus\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.7.1,>=3.1->mplcursors) (1.16.0)
Downloading mplcursors-0.6-py3-none-any.whl (20 kB)
Installing collected packages: mplcursors
Successfully installed mplcursors-0.6
Note: you may need to restart the kernel to use updated packages.

WARNING: Skipping c:\Users\HP Victus\anaconda3\Lib\site-packages\pandas-2.2.2.dist-info due to invalid metadata entry 'name'
WARNING: Skipping c:\Users\HP Victus\anaconda3\Lib\site-packages\pandas-2.2.2.dist-info due to invalid metadata entry 'name'
WARNING: Skipping c:\Users\HP Victus\anaconda3\Lib\site-packages\pandas-2.2.2.dist-info due to invalid metadata entry 'name'
WARNING: Skipping c:\Users\HP Victus\anaconda3\Lib\site-packages\pandas-2.2.2.dist-info due to invalid metadata entry 'name'
WARNING: Skipping c:\Users\HP Victus\anaconda3\Lib\site-packages\pandas-2.2.2.dist-info due to invalid metadata entry 'name'
WARNING: Skipping c:\Users\HP Victus\anaconda3\Lib\site-packages\pandas-2.2.2.dist-info due to invalid metadata entry 'name'