# Dataset Info

Este é um dataset que consiste em várias características de estrelas.

Algumas delas são:
- **Temperatura Absoluta** (em Kelvin) (*Absolute Temperature* (in Kelvin))
- **Luminosidade Relativa** (L/Lo) (*Relative Luminosity* (L/Lo))
- **Raio Relativo** (R/Ro) (*Relative Radius* (R/Ro))
- **Magnitude Absoluta** (Mv) (*Absolute Magnitude* (Mv))
- **Cor da Estrela** (branco, vermelho, azul, amarelo, amarelo-laranja, etc.) (*Star Color* (white, red, blue, yellow, yellow-orange, etc.))
- **Classe Espectral** (O, B, A, F, G, K, M) (*Spectral Class* (O, B, A, F, G, K, M))
- **Tipo de Estrela**: (Anã Vermelha, Anã Marrom, Anã Branca, Sequência Principal, Supergigantes, Hipergigantes) (*Star Type*: Red Dwarf, Brown Dwarf, White Dwarf, Main Sequence, Supergiants, Hypergiants)
ntes, Hipergigantes)

Referências:
- **Lo** = 3.828 x 10^26 Watts (Luminosidade média do Sol)
- **Ro** = 6.9551 x 10^8 m (Raio médio do Sol)

## Objetivo

O objetivo de criar este dataset é mostrar que as estrelas seguem um certo padrão no espaço celestial, especificamente conhecido como **Diagrama de Hertzsprung-Russell** (ou simplesmente **Diagrama HR**), para que possamos classificar as estrelas plotando suas características com base nesse gráfico.

### Diagramas:

![Diagrama Hertzsprung-Russell](imagens/inbox_3791628_9fc57334a9b9fafbc71aacdd6e5cd69c_310px-Hertzsprung-Russel_StarData.png)

![Diagrama HR 1](imagens/inbox_3791628_14338bbebf77d18e1faef582bccdbdd6_hr.jpg)

![Diagrama HR 2](imagens/inbox_3791628_fe9436bf4e2d23b5b18fb3db1f1fcbcb_HRDiagram.png)

## Técnicas de Coleta e Preparação de Dados

O dataset foi criado com base em várias equações de astrofísica. Elas estão listadas abaixo:

- **Lei de Stefan-Boltzmann** da radiação de corpo negro (para encontrar a luminosidade de uma estrela)
- **Lei do Deslocamento de Wienn** (para encontrar a temperatura de superfície de uma estrela usando o comprimento de onda)
- Relação da **Magnitude Absoluta**
- **Raio de uma estrela** usando paralaxe

A coleta dos dados levou 3 semanas e contém informações de 240 estrelas, que foram obtidas majoritariamente da web. Dados ausentes foram calculados manualmente usando as equações de astrofísica mencionadas.

## Agradecimentos

- Wikipedia
- *Stars and Galaxies* por SEEDS | Backman

## Link do Repositório

[AstroML](https://github.com/astroML)
 by SEEDS | Backman
Repo Link:
AstroML

In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

# Sobre este arquivo

Este arquivo CSV contém um dataset de 240 estrelas de 6 classes:

- **Anã Marrom** -> Tipo de Estrela = 0
- **Anã Vermelha** -> Tipo de Estrela = 1
- **Anã Branca** -> Tipo de Estrela = 2
- **Sequência Principal** -> Tipo de Estrela = 3
- **Supergigante** -> Tipo de Estrela = 4
- **Hipergigante** -> Tipo de Estrela = 5

A luminosidade e o raio de cada estrela são calculados em relação aos valores do Sol.
- **Lo** = 3.828 x 10^26 Watts
- **Ro** = 6.9


# About this file

This CSV file contains a dataset of 240 stars of 6 classes:

- **Brown Dwarf** -> Star Type = 0
- **Red Dwarf** -> Star Type = 1
- **White Dwarf** -> Star Type = 2
- **Main Sequence** -> Star Type = 3
- **Supergiant** -> Star Type = 4
- **Hypergiant** -> Star Type = 5

The luminosity and radius of each star is calculated w.r.t. the values of the Sun.
- **Lo** = 3.828 x 10^26 Watts
- **Ro** = 6.9551 x 10^8 m
551 x 10^8 m

In [6]:
df = pd.read_csv("6 class csv.csv")
df

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,M
1,3042,0.000500,0.1542,16.60,0,Red,M
2,2600,0.000300,0.1020,18.70,0,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M
4,1939,0.000138,0.1030,20.06,0,Red,M
...,...,...,...,...,...,...,...
235,38940,374830.000000,1356.0000,-9.93,5,Blue,O
236,30839,834042.000000,1194.0000,-10.63,5,Blue,O
237,8829,537493.000000,1423.0000,-10.73,5,White,A
238,9235,404940.000000,1112.0000,-11.23,5,White,A
239,37882,294903.000000,1783.0000,-7.80,5,Blue,O